body {
  font-family: Comic Sans MS;
}

.connexion {
  width: 529px;
  height: 537px;
  border: 3px solid #676767;
  background: #cecece;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
}
.connexion form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.connexion h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #ff55bb;
  margin-bottom: 30px;
}
.connexion span {
  display: flex;
  width: 100%;
}
.connexion label {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 24px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 100px;
}
.connexion .checkbox-label {
  font-size: 12px;
  margin-left: 10px;
  width: 100%;
}
.connexion input {
  font-style: normal;
  margin-bottom: 10px;
  margin-bottom: 10px;
  width: 300px;
}
.connexion .checkbox {
  width: 15px;
}

.connexion p {
  font-style: normal;
  margin-bottom: 10px;
  width: 100%;
}
.connexion .mdp-oublie {
  margin-bottom: 10px;
  transition: all 1s 0ms;
  transform: translate(0);
  transition-timing-function: cubic-bezier(5.68, -1.55, 5.27, 1.55);
}

.connexion .mdp-oublie:hover {
  transform: translate(400px);
  transition: all 0.5s 0ms ease;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 2.55);
}

.connexion input[type="submit"] {
  width: 84px;
  height: 138px;
  background-image: url(./assets/Inscription_connexion/porte_statique.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  border: none;
}
.connexion input[type="submit"]:hover {
  background-image: url(./assets/Inscription_connexion/porte_animée.gif);
}
.connexion .entrez {
  text-align: center;
  color: #ff55bb;
  font-weight: bold;
  font-size: 20px;
}
